@font-face {
  font-family: 'OPPOSans';
  src: url("../fonts/lanting/OPPOSans.woff2") format('woff2'), url("../fonts/lanting/OPPOSans.woff") format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'JetBrainsMono-Regular';
  src: url("../fonts/lanting/JetBrainsMono-Regular.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
